
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), 
       local('Roboto-Regular'), 
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
       format('woff');
}

.padding-row {

   padding-bottom: 20px;
}

.fixedSize {
    width: 100%;
    height: 100%;
    }

.nopadding {
    padding: 0;
}

.borderblack {
    border: 1px solid #ddd ;
}

.floatRight {
    /*float: right;*/
    vertical-align: middle;
    margin-left: auto;
    margin-right: 0px;
    display: table-cell;
    text-align: right;
    font-size: smaller;
}

.floatLeft {
    /*float: left;*/
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: left;
    font-size: smaller;
}
.fixedfloat {
    float: none;
    display: table; 
    vertical-align: middle;
   padding: 5px;
    
}
.floatLeft h4 {
    font-size: small;
}

.place {
   font-weight: bold;
    font-style: italic;
    font-size: small;
}
.wide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    white-space: nowrap;
   
}

.fontRoboto {
    font-family: Roboto;
}
.trasformlowercase {
    text-transform: lowercase;
    text-decoration: solid;
    font-size: xx-small;
}

.trasformUppercase {
    text-transform: uppercase;
}

.boxshadowing {
    -webkit-box-shadow: 0 4px 2px -2px gray;
    -ms-box-shadow: 0 4px 2px -2px gray;
    box-shadow: 0 4px 2px -2px gray;
}
