
.padding-row {
 
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-inner-row {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-image {
    padding: 20px;
}


.fixedSize {
    width: 100%;
    height: 100%;
    }

.nopadding {
    padding: 0;
}

.borderblack {
    border: 1px solid #ddd ;
}

.floatRight {
    float: right;
    
}

.floatLeft {
    float: left;
}
.fixedfloat {
    float: none;
    display: inline-block; 
}

.margin-div {
    margin-top: 20px;
    margin-left: 20px;
}

.wide {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
    white-space: nowrap;
   
}
